@media (min-width: 1930px) {
    .banner_info {
        max-width: 1900px;
        margin: 0 auto 70px auto;
    }
    
}
@media (max-width: 1500px) {
    .banner_info {
        width: 100%;
        margin: 60px 0px 70px 0;
        position: relative;
        min-width: 100px;
    }
    
    .banner_list {
        width: 100%;
        position: relative;
        min-height: 100px;
    }
    .banner_list .banner_txt h2 {
        /* margin-top: -60px; */
        
        font-size: 50px;
        line-height: 98px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        padding-bottom: 40px;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 10px 0;
        font-size: 28px;
        line-height: 48px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        

       
    }
    
    
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family:montserrat light ;
        padding-bottom: 20px;
    
          
    }
    .logo_info {
        margin: 2px 5px 0 0;
    }
    .logo_info img {
        display: block;
        margin: 0;
        width: 260px;
        margin-left: 60px;
    }
    .nav_info ul {
        margin: 0 120px 0 0;
        padding: 0;
        list-style: none;
    }
    
    .nav_info ul li {
        margin: 0 30px 0 0;
        padding: 0px;
        display: inline-block;
        vertical-align:right;
        font-size: 20px;
        color: #546cb6;
        font-family: 'MOMCAKE', sans-serif;
                                                
    }
    
    .nav_info ul li:last-child {
        margin: 0px;
        font-weight: 30000px;
     
    }
    .ourteam_details {
        padding: 100px;
        margin-top: 100px;
    }
    .banner_list {
        min-height: 900px;
       
    }

    .ourteam_detailsview {
        margin: 0 auto;
        max-width: 1060px;
    }

    .lifeatninjacart_title h3 {
        margin: 0 0 20px 0;
    }

    .perksninja_info h3 {
        margin: 0 0 20px 0;
    }

    .perksninja_list ul li {
        padding: 20px 15px;
    }

    .careerbanner_info .careerbanner_cont .careerbanner_bg {
        left: -90px;
    }

    .puttheirfaith_info {
        background: whitesmoke;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview p {
        min-height: 160px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: 192px;
    }

    .creatingopportunities_info{
        min-height: inherit;
    }
}

@media (max-width: 1400px) {
    .banner_info {
        width: 100%;
        margin: 1px 100px 190px 0;
        position: relative;
        min-width: 45 0px;
        padding-top: 100px;
        padding-bottom: 100px;
        
    }
    
    .banner_list {
        width: 100%;
        position: relative;
        min-height: 400px;
        margin-top: 39px;
        margin-bottom: -10px;
        
    }
   
    .banner_list .banner_txt h2 {
        /* margin-top: -60px; */
        
        font-size: 50px;
        line-height: 98px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        padding-bottom: 40px;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 10px 0;
        font-size: 28px;
        line-height: 48px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        

       
    }
    
    
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family:montserrat light ;
        padding-bottom: 20px;
    
          
    }
    
    .logo_info {
        margin: 2px 5px 0 0;
    }
    .logo_info img {
        display: block;
        margin: 0;
        width: 240px;
        margin-left: 120px;
    }
    .nav_info ul {
        margin: 0 120px 0 0;
        padding: 0;
        list-style: none;
    }
    
    .nav_info ul li {
        margin: 0 30px 0 0;
        padding: 0px;
        display: inline-block;
        vertical-align:right;
        font-size: 20px;
        color: #546cb6;
        font-family: 'MOMCAKE', sans-serif;
                                                
    }
    
    .nav_info ul li:last-child {
        margin: 0px;
        font-weight: 30000px;
     
    }

    .banner_list .banner_txt {
        padding: 160px 0 0 0;
    }

    .maurisnontempor_list h2,
    .maurisnontempor_list p {
        margin: 0 0 20px 0;
    }

    .trustedby_list {
        bottom: 30px;
    }

    .aboutus_section_txt .banner_txtbg {
        left: -100px;
    }

    .people_info {
        padding: 60px 0;
    }

    .reasonstobuy_listinner .reasonstobuy_slider {
        height: 180px;
    }

    .ourteam_detailsviewcontinner {
        max-height: 460px;
    }

    .ourteam_detailsview .ourteam_detailsviewimg img {
        max-width: 80%;
    }
}

@media (max-width: 1300px) {

    header .container_info,
    .banner_info .container_info,
    .trustus_direct_info .container_info,
    .aboutbanner_info .container_info,
    .growthdevelopment_info .container_info,
    .ourfounders_info .container_info,
    .careerbanner_info .container_info,
    .maurisnontempor_info .container_info,
    .privacypolicy_info .container_info {
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo_info {
        margin: 2px 5px 0 0;
    }
    .logo_info img {
        display: block;
        margin: 0;
        width: 240px;
        margin-left: 160px;
    }
    .nav_info ul {
        margin: 0 160px 0 0;
        padding: 0;
        list-style: none;
    }
    
    .nav_info ul li {
        margin: 0 30px 0 0;
        padding: 0px;
        display: inline-block;
        vertical-align:right;
        font-size: 19px;
        color: #546cb6;
        font-family: 'MOMCAKE', sans-serif;
                                                
    }
    
    .nav_info ul li:last-child {
        margin: 0px;
        font-weight: 30000px;
     
    }
    .banner_info {
        margin: 0 0 50px 0;
        min-height: 800px;
        padding-top: 100px;
        padding-bottom: 100px;
    }
    .banner_list .banner_txt h2 {
        /* margin-top: -60px; */
        
        font-size: 50px;
        line-height: 98px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        padding-bottom: 40px;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 10px 0;
        font-size: 28px;
        line-height: 48px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        

       
    }
    
    
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family:montserrat light ;
        padding-bottom: 20px;
    
          
    }

    .ourstandpoint_info .freshproducesupply_inner .freshproducesupply_bg {
        right: -80px;
        width: 80px;
        height: 126px;
        background-size: cover;
    }

    .growthdevelopment_list.growthdevelopment_list1 {
        width: 120px;
    }

    .growthdevelopment_list.growthdevelopment_list2 {
        left: 250px;
    }

    .growthdevelopment_list.growthdevelopment_list3 {
        left: 490px;
    }

    .growthdevelopment_list.growthdevelopment_list4 {
        left: 750px;
    }

    .growthdevelopment_list.growthdevelopment_list5 {
        width: 130px;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview p {
        min-height: 160px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: 192px;
    }

    .ourteam_detailsviewcontinner {
        max-height: 420px;
    }

    .ourteam_detailsview .ourteam_detailsviewimg img {
        max-width: 70%;
    }

    .aboutus_section_txt .banner_txtbg {
        left: -70px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner{
        padding: 50px 70px 50px 20px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner .trustus_direct_arrow{
        right: 20px;
    }
}

@media (max-width: 1100px) {

    body {
        padding: 0;
    }

    header,
    header.fixed {
        padding: 20px 0 !important;
        background: #fff !important;
        -webkit-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .55) !important;
        -moz-box-shadow: 0 0 10px 0 rgba(50, 50, 50, .55) !important;
        box-shadow: 0 0 10px 0 rgba(50, 50, 50, .55) !important;
        position: relative !important;
    }

    .container_info {
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo_info {
        margin: 2px 40px 0 0;
    }

    /* .nav_info ul li {
        margin: 0 20px 0 0;
    } */
    .nav_info ul {
        margin: 0 200px 0 0;
        padding: 0;
        list-style: none;
    }
    
    .nav_info ul li {
        margin: 0 30px 0 0;
        padding: 0px;
        display: inline-block;
        vertical-align:right;
        font-size: 19px;
        color: #546cb6;
        font-family: 'MOMCAKE', sans-serif;
                                                
    }
    
    .nav_info ul li:last-child {
        margin: 0px;
        font-weight: 30000px;
     
    }

    .banner_info {
        margin: 0 0 50px 0;
        min-height: 700px;
        padding-top: 90px;
        padding-bottom: 100px;
    }

    /* .banner_list {
        min-height: 700px;
    } */

    .banner_list .banner_txt {
        padding: 90px 0 390px 0;
        
    }

    .banner_list .banner_txt .banner_txtinner {
        max-width: 100%;
      
    }

    .logo_info img {
        display: block;
        margin: 0;
        width: 240px;
        margin-left: 160px;
    }

    .banner_list .banner_txt h2 {
        /* margin-top: -60px; */
        
        font-size: 50px;
        line-height: 98px;
        font-family: 'MOMCAKE BOLD';
        color:black;
        text-align: center;
        padding-bottom: 40px;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 10px 0;
        font-size: 28px;
        line-height: 48px;
        font-family: 'MOMCAKE BOLD';
        color:black;
        text-align: center;
        

       
    }
    
    
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 600;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f1ea";
        padding-bottom: 20px;
    
          
    }
    
    .creatingopportunities_title {
        margin: 0 0 40px 0;
    }

    .creatingopportunities_list {
        margin: 0;
    }

    .freshproducesupply_info {
        margin: 40px 0 0 0;
    }

    .puttheirfaith_info {
        padding: 60px 0;
        background: whitesmoke;
    }

    .ourteam_details,
    .topmanagement_details{
        z-index: 99;
    }

    .peopleaboutninjacart_info {
        padding: 0 0 50px 0;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview .peopleaboutninjacart_listinner {
        padding: 60px 30px 30px 30px;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview .peopleaboutninjacart_img {
        top: -70px;
        left: 30px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview .peopleaboutninjacart_listinner {
        padding: 60px 30px 30px 30px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview .peopleaboutninjacart_img {
        top: -70px;
        left: 30px;
    }

    .trustus_direct_info {
        padding: 0 0 80px 0;
    }

    .trustus_direct_list ul li .trustus_direct_listinner {
        padding: 30px 65px 30px 20px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner h5 {
        font-size: 22px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner .trustus_direct_arrow {
        right: 15px;
    }

    .footer_sociallist ul li {
        margin: 0 5px 15px 0;
    }

    .footer_reachus_list {
        padding: 25px 10px;
    }

    .ourstandpoint_info .freshproducesupply_inner {
        padding: 0;
    }

    .ourstandpoint_info .freshproducesupply_inner .freshproducesupply_bg {
        display: none;
    }

    .theideasolution_info ul {
        margin-right: -15px;
        margin-left: -15px;
    }

    .theideasolution_info ul li {
        padding: 0 15px;
    }

    .growthdevelopment_listbg {
        max-width: 950px;
    }

    .growthdevelopment_list.growthdevelopment_list1 {
        top: 90px;
        text-align: left;
    }

    .growthdevelopment_list.growthdevelopment_list1 .growthdevelopment_cont:after {
        margin: 0;
    }

    .growthdevelopment_list.growthdevelopment_list2 {
        left: 180px;
    }

    .growthdevelopment_list.growthdevelopment_list3 {
        top: 138px;
        left: 390px;
    }

    .growthdevelopment_list.growthdevelopment_list4 {
        left: 630px;
    }

    .growthdevelopment_list.growthdevelopment_list5 {
        top: 120px;
        text-align: right;
    }

    .growthdevelopment_list.growthdevelopment_list5 .growthdevelopment_cont:after {
        margin: 0;
        left: auto;
    }

    .puttheirfaith_info .puttheirfaith_bg,
    .freshproducesupply_info .freshproducesupply_inner .freshproducesupply_bg {
        display: none;
    }

    .lifeatninjacart_list ul li .lifeatninjacart_listcont,
    .lifeatninjacart_list ul li .lifeatninjacart_listcont h6,
    .lifeatninjacart_list ul li .lifeatninjacart_listcont h4,
    .lifeatninjacart_list ul li .lifeatninjacart_listcont .knowmore_btn {
        opacity: 1;
        visibility: visible;
    }

    .lifeatninjacart_list ul li .lifeatninjacart_listcont h4 {
        top: 0;
    }

    .careerbanner_info .careerbanner_cont {
        padding: 100px 0 0 0;
    }

    .careerbanner_info .careerbanner_img {
        padding: 0 0 0 20px;
    }

    .theinceptionjourney_info .theinceptionjourney_bg {
        display: none;
    }

    .theinceptionjourney_list {
        padding: 0;
        text-align: center;
    }

    .theinceptionjourney_info h5 {
        font-size: 20px;
    }

    .careerfreshproducesupply_info:after {
        display: none;
    }

    .careerfreshproducesupply_info {
        padding-top: 0;
    }

    .people_info {
        padding: 40px 0;
    }

    .buy_sell_info,
    .maurisnontempor_info .container_info {
        height: calc(100vh - 86px);
    }

    .maurisnontempor_list {
        padding: 0 0 0 20px;
    }

    .reasonstobuy_listview {
        padding: 0 10px;
    }

    .reasonstobuy_listview .reasonstobuy_listviewinner {
        padding: 20px 15px;
    }

    .reasonstobuy_listview .reasonstobuy_listviewinner .reasonstobuy_listcont {
        padding: 0 0 0 80px;
    }

    .innerpagebuy_banner .innerpagebuy_back {
        top: 40px;
        left: 40px;
    }

    .mediagrid_info {
        padding-right: 20px;
        padding-left: 20px;
    }

    .mediagrid_info ul {
        margin-right: -15px;
        margin-left: -15px;
    }

    .mediagrid_info ul li {
        padding: 20px 15px;
    }

    .faqquestions_info {
        padding: 0 400px 0 0;
    }

    .aboutus_video {
        padding: 0 0 60px 0;
    }

    .creatingopportunities_info {
        margin: 40px 0 0 0;
        padding: 0;
    }

    .theideasolution_info {
        padding: 50px 0;
    }

    .careertheideasolution_info {
        padding: 0 0 20px 0;
    }

    .perksninja_info {
        padding: 0 0 50px 0;
    }

    .maurisnontempor_list h2 {
        font-size: 40px;
        line-height: 56px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner h5 {
        top: 0;
    }

    .trustus_direct_list ul li .trustus_direct_listinner h6 {
        opacity: 1;
        visibility: visible;
    }

    .theinceptionjourney_info {
        padding: 50px 0;
    }

    .careerslifeatninjacart_info {
        padding: 50px 0;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview p {
        font-size: 16px;
        line-height: 30px;
        min-height: 180px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: 224px;
        font-size: 18px;
        line-height: 32px;
    }

    .theideasolution_info ul li .theideasolution_list p {
        opacity: 1;
        visibility: visible;
    }

    .ourteam_details {
        padding: 0 20px;
    }

    .ourteam_detailsviewcontinner {
        max-height: 400px;
    }

    .careertheideasolution_info ul li .theideasolution_list .careertheideasolution_desc {
        padding: 40px 20px;
    }

    .careertheideasolution_info ul li .theideasolution_list h5 {
        font-size: 22px;
        line-height: 22px;
    }

    .theideasolution_img1,
    .theideasolution_img2,
    .theideasolution_img3,
    .theideasolution_img4 {
        width: 90px;
        height: 92px;
        background-size: 100% !important;
    }

    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img1, 
    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img2, 
    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img3, 
    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img4 {
        background-position: 0px -92px;
    }

    .aboutus_section_txt .banner_txtbg {
        left: 0;
        width: 300px;
        height: 263px;
        top: 0;
    }

    .topmanagement_info .topmanagement_bg{
        display: none;
    }

    .creatingopportunities_listinner ul{
        min-height: 160px;
    }
}

@media (min-width: 981px) {
    .nav_info {
        display: block !important;
    }
}

@media (max-width: 980px) {

    .navopen_icon {
        display: block;
    }

    .nav_info {
        position: absolute;
        top: 88px;
        left: 0;
        right: 0;
        width: 100%;
        padding: 0;
        background: #fff;
        border-top: 3px solid #66BB6A;
        display: none;
    }

    .nav_info ul li {
        width: 100%;
        display: block;
        margin: 0;
        border-bottom: 1px solid #f7f7f7;
    }

    .nav_info ul li a {
        display: block;
        width: 100%;
        padding: 15px 20px;
    }

    .banner_list {
        margin-top: 120px;
        min-height: 500px;
        
    }

    .banner_list .banner_txt {
        padding: 20px 0 0 0;
    }

    .banner_list .banner_txt h2 {
        margin-top: -80px;
        padding: 0;
        font-size: 55px;
        line-height: 98px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 28px;
        line-height: 48px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
       
    }
    
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family:montserrat light ;
    
          
    }
    
    .logo_info img {
        display: block;
        margin: 0;
        width: 280px;
        margin-left: 10px;
    }
    
    /* .banner_list .banner_txt h3 span {
        color: #EAAF00;
    } */
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family: montserrat light;
    
          
    }
    .creatingopportunities_title {
        margin: 0 0 20px 0;
    }

    .lifeatninjacart_list ul li .lifeatninjacart_listcont {
        padding: 20px;
    }

    .lifeatninjacart_list ul li .lifeatninjacart_listcont .lifeatninjacart_contbot {
        bottom: 20px;
        left: 20px;
    }

    .lifeatninjacart_list ul li .lifeatninjacart_listcont h4 {
        margin: 0 0 10px 0;
        font-size: 26px;
        line-height: 36px;
    }

    .peopleaboutninjacart_info {
        padding: 0 0 20px 0;
    }

    .aboutus_section_txt {
        padding: 30px 20px 0 0;
    }

    .trustus_direct_list ul {
        margin: 0;
    }

    .trustus_direct_list ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px 0;
    }

    .footer_top {
        margin: 0;
        padding: 0;
    }

    .footer_reachus_list {
        padding: 20px;
    }

    .footer_bottom {
        padding: 40px 0;
        margin: 40px 0 0 0;
    }

    .creatingopportunities_info .creatingopportunities_bg {
        display: none;
    }

    .theinceptionjourney_info .theinceptionjourney_bg {
        display: none;
    }

    .theinceptionjourney_list {
        padding: 0;
    }

    .growthdevelopment_view {
        text-align: center;
        padding: 0;
    }

    .growthdevelopment_listbg {
        display: none;
    }

    .growthdevelopment_list {
        position: relative;
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        display: inline-block;
        vertical-align: top;
        padding: 20px 10px;
    }

    .growthdevelopment_list.growthdevelopment_list1,
    .growthdevelopment_list.growthdevelopment_list2,
    .growthdevelopment_list.growthdevelopment_list3,
    .growthdevelopment_list.growthdevelopment_list4,
    .growthdevelopment_list.growthdevelopment_list5 {
        top: auto;
        left: auto;
        right: auto;
        bottom: auto;
        text-align: center;
        width: 32%;
    }

    .growthdevelopment_list.growthdevelopment_list1 .growthdevelopment_cont,
    .growthdevelopment_list.growthdevelopment_list2 .growthdevelopment_cont,
    .growthdevelopment_list.growthdevelopment_list3 .growthdevelopment_cont,
    .growthdevelopment_list.growthdevelopment_list4 .growthdevelopment_cont,
    .growthdevelopment_list.growthdevelopment_list5 .growthdevelopment_cont {
        top: auto;
    }

    .growthdevelopment_list.growthdevelopment_list1 .growthdevelopment_cont:after {
        margin: 0 auto;
    }

    .growthdevelopment_list.growthdevelopment_list5 .growthdevelopment_cont:after {
        margin: 0 auto;
        left: 0;
    }

    .growthdevelopment_list .growthdevelopment_img {
        min-height: 70px;
    }

    .aboutbanner_info h3 {
        margin: 0 0 20px 0;
        font-size: 28px;
        line-height: 38px;
    }

    .theinceptionjourney_info {
        text-align: center;
    }

    .theinceptionjourney_info h3 {
        margin: 0 0 20px 0;
        font-size: 30px;
        line-height: 40px;
    }

    .ourstandpoint_info {
        padding: 40px 0 0 0;
    }

    .ourfounders_info {
        padding: 40px 0;
    }

    .ourfounders_info h2 {
        font-size: 38px;
    }

    .ourfounders_info ul li {
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 33.333%;
        padding: 15px;
    }

    .ourstandpoint_list {
        margin: 0;
    }

    .ourstandpoint_img {
        width: 100%;
        text-align: center;
    }

    .ourstandpoint_cont {
        width: 100%;
        text-align: center;
        padding: 30px 0 0 0;
    }

    .ourstandpoint_imginner {
        margin: 0 auto;
        min-height: 330px;
    }

    .ourstandpoint_info .freshproducesupply_inner {
        padding: 40px 0;
    }

    .careerbanner_info {
        margin: 40px 0;
    }

    .careerbanner_info .careerbanner_img {
        width: 50%;
    }

    .careerbanner_info .careerbanner_cont {
        width: 50%;
        padding: 40px 0 0 0;
    }

    .careerbanner_info .careerbanner_cont h5 {
        margin: 0 0 10px 0;
        font-size: 20px;
        line-height: 30px;
    }

    .meanstoninja_info h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .people_list ul li h5 {
        font-size: 22px;
    }

    .ourteam_detailsviewcontinner {
        padding: 20px;
    }

    .buy_sell_info,
    .maurisnontempor_info .container_info {
        height: auto;
    }

    .maurisnontempor_list {
        max-width: 100%;
        padding: 30px 0;
        position: relative;
        top: auto;
        left: auto;
        -ms-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }

    .trustedby_list {
        position: relative;
        bottom: auto;
        margin: 30px 0 0 0;
    }

    .customer_seller_info {
        position: relative;
        width: 100%;
        height: auto;
    }

    .customer_list,
    .seller_list {
        width: 50%;
        float: left;
        height: auto;
        min-height: 400px;
    }

    .customer_list a,
    .seller_list a {
        height: 400px;
    }

    .filterbycategory_list {
        width: 250px;
    }

    .filterbycategory_listinner ul li {
        font-size: 20px;
        padding: 15px;
    }

    .faqquestions_info {
        padding: 0 270px 0 0;
    }

    .faqquestions_list ul li {
        padding: 15px 0;
    }

    .faqquestions_list ul li h5 {
        font-size: 22px;
    }

    .faqquestions_list ul li .faqquestions_cont {
        font-size: 16px;
        line-height: 24px;
    }

    .aboutus_video {
        padding: 0;
    }

    .aboutus_video iframe {
        height: 355px;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview p {
        min-height: 240px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: 320px;
    }

    .ourteam_detailsview .ourteam_detailsviewimg img {
        max-width: 90%;
    }

    .careertheideasolution_info ul li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .careertheideasolution_info ul li .theideasolution_list h5 {
        text-align: center;
    }

    .theideasolution_img1,
    .theideasolution_img2,
    .theideasolution_img3,
    .theideasolution_img4 {
        width: 80px;
        height: 82px;
    }

    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img1, 
    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img2, 
    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img3, 
    .careertheideasolution_info ul li .theideasolution_list:hover .theideasolution_img4 {
        background-position: 0px -82px;
    }

    .reasonstobuy_listview{
        width: 49%;
    }

    .aboutus_section_txt .banner_txtbg {
        width: 250px;
        height: 219px;
    }

    .creatingopportunities_listinner ul{
        min-height: 140px;
    }

}
/* its mobile responsive  */
@media (max-width: 767px) {
    .banner_list {
        min-height: 250px;
    }

    .banner_list .banner_txt {
        position: relative;
        top: auto;
        left: auto;
    }

    .banner_list .banner_txt .banner_txtinner {
        width: 100%;
        max-width: 100%;
        text-align: center;
        
        
    }
    .logo_info img {
        display: block;
        margin: 0;
        width: 280px;
        margin-left: 10px;
    }

    .banner_list .banner_txt h2 {
        margin-top: -80px;
        padding: 0;
        font-size: 55px;
        line-height: 98px;
        font-family: 'MOMCAKE BOLD';
        color:black;
        text-align: center;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 10px 0;
        padding: 0;
        font-size: 28px;
        line-height: 48px;
        font-family: 'MOMCAKE Bold';
        color:black;
        text-align: center;
       
    }
    
   
    
    .banner_list .banner_txt p {
       
          color:gray;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
        margin-bottom: 100px;
        font-family: "Font Awesome 5 Free"; font-weight: 400; content: "\f1ea";
    
          
    }
    
    .banner_list .banner_txt .green_btn,
    .banner_list .banner_img,
    .aboutbanner_info h3,
    .aboutbanner_info .aboutbanner_img {
        visibility: visible;
    }

    .banner_list .banner_img {
        display: none;
    }

    .banner_list .homebanner_mobile {
        display: block;
    }

    .creatingopportunities_title h3,
    .lifeatninjacart_title h3,
    .careertheideasolution_info h3 {
        margin: 0 0 20px 0;
        font-size: 26px;
    }

    .creatingopportunities_title p br,
    .lifeatninjacart_title p br {
        display: none;
    }

    .lifeatninjacart_title {
        text-align: center;
        padding: 0 0 15px 0;
    }

    .careerslifeatninjacart_info .lifeatninjacart_title{
        padding: 0 0 15px 0;
    }

    .lifeatninjacart_info {
        padding: 40px 0;
    }

    .lifeatninjacart_list ul {
        margin: 0;
    }

    .lifeatninjacart_list ul li {
        padding: 10px 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .aboutus_section {
        padding: 0;
    }

    .aboutus_section_txt .banner_txtbg {
        display: none;
    }

    .aboutus_section_txt {
        width: 100%;
        text-align: center;
        padding: 0 0 40px 0;
    }

    .aboutninjacart_list {
        width: 100%;
    }

    .theinceptionjourney_info {
        top: 0;
    }

    .freshproducesupply_info .freshproducesupply_inner h3 {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .puttheirfaith_info {
        padding: 40px 0;
        background: whitesmoke;
    }

    .puttheirfaith_info h3 {
        margin: 0 0 20px 0;
        font-size: 30px;
    }

    .puttheirfaith_info ul li {
        margin: 10px 0px;
        width: 48%;
        display: inline-block;
        padding: 0 10px;
    }

    .peopleaboutninjacart_info h3 {
        font-size: 28px;
        line-height: 38px;
        padding: 0;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview{
        padding: 40px 0 0 0;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview .peopleaboutninjacart_listinner {
        background: none;
        padding: 0;
        box-shadow: none;
        text-align: center;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview .peopleaboutninjacart_img {
        width: 100px;
        top: inherit;
        left: auto;
        position: relative;
        margin: 0 auto 15px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview .peopleaboutninjacart_listinner {
        background: #fff;
        padding: 0 0 20px 0;
        box-shadow: none;
        text-align: center;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview .peopleaboutninjacart_img {
        width: 100px;
        top: inherit;
        left: auto;
        position: relative;
        margin: 0 auto 15px;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview p,
    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        font-size: 16px;
        line-height: 26px;
    }

    .freshproducesupply_info .freshproducesupply_inner {
        padding: 40px 0;
    }

    .aboutbanner_info h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .aboutbanner_info p {
        font-size: 16px;
        line-height: 26px;
    }

    .theinceptionjourney_info h3 {
        font-size: 26px;
        line-height: 36px;
        margin-bottom: 5px;
    }

    .theinceptionjourney_info p {
        font-size: 16px;
        line-height: 26px;
    }

    .theideasolution_info ul {
        margin: 0;
    }

    .theideasolution_info ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 15px 0;
    }

    .ourstandpoint_imginner {
        display: none;
    }

    .ourstandpoint_img_mobile {
        display: block;
    }

    .no_anm_mobile {
        -webkit-animation-duration: 0s;
        animation-duration: 0s;
        -webkit-animation-fill-mode: none;
        animation-fill-mode: none;
    }

    .ourstandpoint_info .freshproducesupply_inner h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .careerbanner_info .careerbanner_img,
    .careerbanner_info .careerbanner_cont {
        width: 100%;
        text-align: center;
    }

    .careerbanner_info .careerbanner_img {
        padding: 0;
    }

    .careerbanner_info .careerbanner_cont {
        padding: 20px 0 0 0;
    }

    .meanstoninja_info {
        padding: 0 0 40px 0;
    }

    .decadesnow_info {
        padding: 40px 0;
    }

    .perksninja_info {
        padding: 20px 0;
    }

    .perksninja_info h3 {
        margin: 0 0 20px 0;
        font-size: 28px;
        line-height: 38px;
    }

    .perksninja_list ul li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 20px 15px;
    }

    .peoplebanner_cont h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .topmanagement_info {
        padding: 15px;
    }

    .people_list ul li {
        padding: 20px 15px;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .people_list ul li .people_listview:hover .people_listinner {
        top: 0;
    }

    .ourteam_detailsview .ourteam_detailsviewimg {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 0 0 0;
        height: 50vh;
    }

    .ourteam_detailsview .ourteam_detailsviewimg img {
        max-height: 100%;
    }

    .ourteam_detailsview .ourteam_detailsviewcont {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        overflow: auto;
    }

    .ourteam_detailsviewcontinner h3 {
        font-size: 26px;
        line-height: 36px;
        margin: 0 0 20px 0;
    }

    .ourteam_detailsviewcontinner p {
        font-size: 16px;
        line-height: 26px;
    }

    .maurisnontempor_list br {
        display: none;
    }

    .maurisnontempor_list h2 {
        font-size: 30px;
        line-height: 44px;
    }

    .maurisnontempor_list p{
        line-height: 28px;
    }

    .customer_seller_cont {
        padding: 0 20px;
    }

    .customer_seller_cont h5 {
        font-size: 22px;
        line-height: 30px;
    }

    .pagetitle_txt {
        font-size: 30px;
    }

    .writetous_form {
        padding: 40px 0 !important;
    }

    .mediagrid_info ul li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .gotquestions_infoview {
        padding: 0 0 40px 0;
    }

    .gotquestions_info p {
        font-size: 16px;
        line-height: 22px;
    }

    .filterbycategory_list {
        width: 100%;
        float: none;
    }

    .filterbycategory_list h6{
        display: none;
    }

    .faqquestions_info {
        padding: 20px 0 40px 0;
    }

    .theideasolution_info ul li .theideasolution_listview:hover .theideasolution_list {
        top: 0;
    }

    .privacypolicy_list h5 {
        font-size: 22px;
    }

    .privacypolicy_list p,
    .privacypolicy_list ol,
    .privacypolicy_list ul {
        font-size: 16px;
    }

    .aboutus_video iframe {
        height: 290px;
    }

    .creatingopportunities_title {
        margin: 0;
        text-align: center;
        padding: 0;
    }

    .theideasolution_info {
        padding: 40px 0;
    }

    .creatingopportunities_info:before {
        display: none;
    }

    .careertheideasolution_info.theideasolution_info ul li {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .topmanagement_details {
        position: fixed;
        top: 0 !important;
    }

    .topmanagement_details .container_info {
        padding: 0;
    }

    .topmanagement_detailsview {
        padding: 0;
        height: 100vh;
    }

    .topmanagement_detailsview .topmanagement_detailsimg {
        float: none;
        width: 100%;
        height: 50vh;
        padding: 50px 50px 0 50px;
    }

    .topmanagement_detailsview .topmanagement_detailsimg img {
        max-height: 100%;
        width: auto;
        margin: 0 auto;
    }

    .topmanagement_detailsview .topmanagement_detailscont {
        padding: 0;
        width: 100%;
        background: #F4FAF4;
        overflow: auto;
    }

    .topmanagement_detailsview .topmanagement_detailscont .topmanagement_detailsinner {
        padding: 20px;
        max-height: inherit;
    }

    .topmanagement_detailsview .topmanagement_detailscont h3 {
        font-size: 26px;
        line-height: 36px;
        margin: 0 0 20px 0;
    }

    .topmanagement_detailsview .topmanagement_detailscont p {
        font-size: 16px;
        line-height: 26px;
    }

    .careerslifeatninjacart_info {
        padding: 40px 0;
    }

    .sitemap_list ul li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .innerpagebuy_bannerinner h5 {
        font-size: 22px;
        line-height: 30px;
    }

    .innerpagebuy_bannerinner h5 br {
        display: none;
    }

    .peopleaboutninjacart_list .slick-arrow {
        top: -90px;
    }

    .careerbanner_info .careerbanner_cont .careerbanner_bg {
        display: none;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: 290px;
    }

    .ourteam_details {
        height: 100%;
        position: fixed;
        padding: 0;
        z-index: 9;
        bottom: 0;
    }

    .popupoverlay{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }

    .ourteam_details .ourteam_details_bg,
    .topmanagement_details .topmanagement_detailsbg{
        background: #fff;
    }

    .ourteam_detailsview .ourteam_detailsviewimg img {
        max-width: 100%;
    }

    .ourteam_detailsviewcontinner {
        max-height: inherit;
    }

    .careertheideasolution_info h3 {
        text-align: center;
    }

    .careertheideasolution_info ul {
        margin: 0;
    }

    .careertheideasolution_info ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .careertheideasolution_info ul li .theideasolution_list {
        padding: 20px;
    }

    .careertheideasolution_info ul li .theideasolution_list .careertheideasolution_desc {
        position: relative;
        background: none;
        opacity: 1;
        visibility: visible;
        padding: 0;
        height: auto;
    }

    .careertheideasolution_info ul li .theideasolution_list p {
        color: #828287;
    }

    .footer_bottom {
        padding: 20px 0 40px;
        margin: 0px 0 0 0;
    }

    .trustus_direct_list ul li .trustus_direct_listinner h5 {
        margin-bottom: 8px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner h6 {
        line-height: 22px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner {
        padding: 25px 65px 25px 15px;
    }

    .trustus_direct_info {
        padding: 0 0 40px 0;
    }

    .growthdevelopment_list{
        padding: 20px 5px;
    }

    .growthdevelopment_list .growthdevelopment_cont {
        padding: 25px 0 0 0;
    }

    .growthdevelopment_list .growthdevelopment_cont h6 br {
        display: none;
    }

    .growthdevelopment_list .growthdevelopment_cont h6 {
        padding: 0;
    }

    .filterbycategory_listinner {
        border: 0;
        border-radius: 0;
    }

    .filterbycategory_listinner ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(151, 151, 151, 0.5);
    }

    .filterbycategory_listinner ul li {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
        text-align: center;
        padding: 15px 5px;
    }

    .filterbycategory_listinner ul li.active:after {
        width: 100%;
        height: 2px;
        top: auto;
        bottom: -1px;
    }

    .careertheideasolution_info ul li .theideasolution_list p {
        text-align: center;
    }

    .careertheideasolution_info ul li .theideasolution_list h5 {
        font-size: 20px;
        line-height: 20px;
    }

    .creatingopportunities_listinner{
        padding: 20px;
    }

    .creatingopportunities_listinner h6{
        font-size: 16px;
    }

    .creatingopportunities_listinner ul li{
        font-size: 14px;
    }

    .innerpagebuy_banner .innerpagebuy_back {
        top: 20px;
        left: 20px;
    }

    .needmorehelp_top {
        padding-top: 40px;
    }

    .needmorehelp_list h3{
        font-size: 30px;
    }

    .needmorehelp_bottom {
        padding-bottom: 40px;
    }

    .people_list ul li .people_listimg{
        margin: 0 auto 40px auto;
    }

    .people_list ul li h5{
        line-height: 30px;
    }

    .people_list ul li p {
        font-size: 16px;
        line-height: 24px;
    }

    .faqquestions_list ul li h5 {
        font-size: 20px;
    }

    .privacypolicy_list h6 {
        margin: 30px 0 20px 0;
    }
}

@media (max-width: 639px) {

    header,
    header.fixed {
        padding: 20px 0 !important;
    }

    .banner_list {
        min-height: 170px;
    }

    .logo_info {
        margin: 0;
        width: 260px;
    }

    .careers_btn a {
        padding: 12px 20px;
    }

    .navopen_icon {
        margin: 0 0 0 10px;
    }

    .nav_info {
        top: 80px;
       
    }
    .banner_list .banner_txt h2 {
        margin-top: -80px;
        padding: 0;
        font-size: 20px;
        line-height: 28px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
       
    }
    .banner_list .banner_txt h4{
        margin: 0 0 0 0;
        
        font-size: 20px;
        line-height: 48px;
        font-family: 'MOMCAKE', sans-serif;
        color:black;
        text-align: center;
        margin-bottom: -10px;
    }
  
    
    .banner_list .banner_txt p {
       
          color:#828287;
          letter-spacing: 0.7px;
          font-size: 20px;
          font-weight: 400;
          justify-content:center;
          line-height: 38px;
          text-align:center;
          margin-bottom: 100px;
        font-family:montserrat light ;
    
          
    }
     

    .green_btn {
        padding: 14px 20px;
    }

    .creatingopportunities_title h3,
    .lifeatninjacart_title h3,
    .careertheideasolution_info h3 {
        font-size: 24px;
    }

    .creatingopportunities_title p,
    .lifeatninjacart_title p,
    .aboutus_section_txt p {
        font-size: 16px;
        line-height: 26px;
    }

    .aboutus_section_txt h3 {
        font-size: 28px;
        margin: 0 0 10px 0;
    }

    .puttheirfaith_info h3 {
        font-size: 22px;
    }

    .peopleaboutninjacart_info h3 {
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview .peopleaboutninjacart_img {
        width: 80px;
        top: inherit;
        position: relative;
        margin: 0 auto 15px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview h5 {
        font-size: 20px;
        line-height: 30px;
        margin: 0 0 10px;
        min-height: 60px;
    }

    .footer_top .footer_toplist {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        padding: 10px 0;
    }

    .footer_top .footer_toplist:last-child {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .footer_top .footer_toplist1 {
        margin: 0;
        padding: 1px 1px ;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 33.333%;
        flex: 0 0 33.333%;
        max-width: 40%;
        background-color:grey;
      
        
    }

    
    .footer_companylegallist1 {
        width: 100%;
        padding: 10px;
        padding-left: 0px;
        text-align: center;
    }
    .footer_companylegallist1 h3{
        padding: 0;
      
        font-family: 'MOMCAKE', sans-serif;
                                                
        color:white;
        
       
    }
    .footer_companylegallist1 h7{
        padding: 0;
        
        font-family: 'MOMCAKE', sans-serif;
                                                
        color:white;
        
    }

   

    .peopleaboutninjacart_list .peopleaboutninjacart_listview {
        padding: 0;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview {
        padding: 15px 0;
        box-shadow: none;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview .peopleaboutninjacart_img {
        width: 80px;
        top: inherit;
        position: relative;
        margin: 0 auto 15px;
    }

    .footer_bottom .footer_copyright ul li {
        margin: 5px 0;
    }

    .freshproducesupply_info .freshproducesupply_inner h3,
    .ourstandpoint_info .freshproducesupply_inner h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .peopleaboutninjacart_list .slick-arrow,
    body.careers .peopleaboutninjacart_list .slick-arrow {
        top: inherit;
        z-index: 5;
        bottom: 0;
        width: 54px;
        height: 54px;
    }

    .peopleaboutninjacart_list .slick-arrow.slick-prev {
        left: 50%;
        margin: 0 0 0 -60px;
    }

    .peopleaboutninjacart_list .slick-arrow.slick-next {
        right: 50%;
        margin: 0 -60px 0 0;
    }

    .aboutbanner_list {
        margin: 30px 0 0 0;
        min-height: inherit;
    }

    .aboutbanner_list .aboutbanner_cont {
        position: relative;
        top: auto;
        left: auto;
    }

    .aboutbanner_info h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .growthdevelopment_info h3 {
        font-size: 26px;
        line-height: 36px;
    }

    .growthdevelopment_list.growthdevelopment_list1,
    .growthdevelopment_list.growthdevelopment_list2,
    .growthdevelopment_list.growthdevelopment_list3,
    .growthdevelopment_list.growthdevelopment_list4,
    .growthdevelopment_list.growthdevelopment_list5 {
        width: 49%;
    }

    .ourstandpoint_cont h3 {
        font-size: 28px;
        line-height: 38px;
    }

    .ourstandpoint_cont p {
        font-size: 16px;
        margin: 0 0 20px 0;
    }

    .ourfounders_info h2 {
        font-size: 34px;
        margin: 0 0 40px 0;
    }

    .ourfounders_info ul li {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .ourfounders_info ul li:nth-child(2) {
        -webkit-order: 1;
        order: 1;
    }
    .ourfounders_info ul li:nth-child(1) {
        -webkit-order: 2;
        order: 2;
    }
    .ourfounders_info ul li:nth-child(3) {
        -webkit-order: 3;
        order: 3;
    }
    .ourfounders_info ul li:nth-child(4) {
        -webkit-order: 4;
        order: 4;
    }
    .ourfounders_info ul li:nth-child(5) {
        -webkit-order: 5;
        order: 5;
    }
    .ourfounders_info ul li:nth-child(6) {
        -webkit-order: 6;
        order: 6;
    }
    .ourfounders_info ul li:nth-child(7) {
        -webkit-order: 7;
        order: 7;
    }
    .ourfounders_info ul li:nth-child(8) {
        -webkit-order: 8;
        order: 8;
    }

    .trustus_direct_list ul li .trustus_direct_listinner h5 {
        font-size: 18px;
    }

    .careerbanner_info .careerbanner_cont h5 {
        font-size: 18px;
        line-height: 28px;
    }

    .careerbanner_info .careerbanner_cont p,
    .meanstoninja_info p {
        font-size: 16px;
        line-height: 26px;
    }

    .meanstoninja_info h3,
    .perksninja_info h3 {
        font-size: 22px;
        line-height: 32px;
        text-align: center;
    }

    .theinceptionjourney_info h5 {
        font-size: 18px;
        line-height: 28px;
    }

    .perksninja_list ul li h6 br {
        display: none;
    }

    .people_list ul {
        margin: 0;
    }

    .people_list ul li {
        padding: 20px 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .ourteam_detailsviewcontinner {
        position: relative;
        top: auto;
        left: auto;
        -ms-transform: none;
        -o-transform: none;
        -moz-transform: none;
        -webkit-transform: none;
        transform: none;
    }

    .ourteam_detailsviewcontinner h3 {
        margin: 0 0 10px 0;
        font-size: 24px;
        line-height: 34px;
    }

    .ourteam_detailsviewcontinner ul {
        margin: 20px 0 0 0;
    }

    .maurisnontempor_list h2 {
        font-size: 22px;
        line-height: 32px;
    }

    .customer_seller_cont h5{
        line-height: 30px;
    }

    .trustedby_list ul li {
        margin: 10px 10px 0 0;
    }

    .customer_list,
    .seller_list {
        width: 100%;
    }

    .innerpagebuy_banner {
        padding: 60px 20px;
    }

    .innerpagebuy_banner .innerpagebuy_back {
        top: 15px;
        left: 20px;
    }

    .innerpagebuy_bannerinner h5 {
        font-size: 20px;
        line-height: 26px;
    }

    .innerpagebuy_bannerinner p {
        line-height: 24px;
    }

    .reasonstobuy_list {
        margin: 20px 0 0;
    }

    .reasonstobuy_listview .reasonstobuy_listviewinner {
        font-size: 16px;
        line-height: 22px;
    }

    .needmorehelp_top {
        padding-top: 40px;
    }

    .needmorehelp_bottom {
        padding-bottom: 20px;
    }

    .needmorehelp_list {
        padding: 0 20px;
    }

    .needmorehelp_list h3 {
        font-size: 28px;
    }

    .needmorehelp_list p {
        font-size: 16px;
    }

    .needmorehelp_form {
        padding: 30px 0 0 0;
    }

    .needmorehelp_form ul {
        margin: 0;
    }

    .needmorehelp_form ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 0;
    }

    .medialist_info ul li {
        padding: 20px 0;
        font-size: 16px;
        line-height: 22px;
    }

    .medialist_info ul li .medialist_date {
        width: 100%;
        padding: 0 0 10px 0;
    }

    .medialist_info ul li .medialist_cont {
        width: 70%;
    }

    .medialist_info ul li .medialist_readmore {
        width: 30%;
    }

    .mediagrid_info ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .mediagrid_info ul li h6 {
        min-height: inherit;
    }

    .gotquestions_info h3 {
        margin: 0 0 20px 0;
        font-size: 28px;
    }

    .aboutus_video {
        padding: 20px 0 0 0;
    }

    .aboutus_video h3 {
        margin: 0 0 20px 0;
        font-size: 28px;
        line-height: 38px;
    }

    .peopleaboutninjacart_slider {
        padding: 0 0 70px 0;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: inherit;
    }

    .ourteam_list .ourteam_listview .ourteam_listimg {
        max-width: 70%;
        padding: 20px 0 0;
    }

    .people_list ul li .people_listimg {
        margin: 0 auto 25px;
    }

    .people_list ul li .people_listinner {
        padding: 15px;
    }

    .people_list ul li {
        padding: 0 0 20px;
    }

    .filterbycategory_listinner ul li {
        font-size: 18px;
    }

    .reasonstobuy_listview{
        width: 100%;
    }

    .theinceptionjourney_info {
        padding: 40px 0;
    }

    .peoplebanner_cont h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .gotquestions_info h3 {
        font-size: 24px;
    }

    .pagetitle_txt {
        font-size: 26px;
    }

    .privacypolicy_list h5 {
        font-size: 20px;
    }
}

@media (max-width: 479px) {

    .perksninja_list ul {
        margin: 0;
    }

    .perksninja_list ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 20px 0;
    }

    .perksninja_list ul li .perksninja_img {
        margin: 0 0 20px 0;
    }

    .theinceptionjourney_info h5 {
        font-size: 16px;
        line-height: 26px;
    }

    .peoplebanner_cont h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .theideasolution_info ul li .theideasolution_list {
        padding: 20px;
    }

    .medialist_info ul li .medialist_cont {
        width: 100%;
        padding: 0 0 10px 0;
    }

    .medialist_info ul li .medialist_readmore {
        width: 100%;
        text-align: left;
    }

    .filterbycategory_listinner ul li {
        font-size: 16px;
        padding: 15px 2px;
    }

    .aboutbanner_info h3 {
        font-size: 20px;
        line-height: 30px;
    }

    .theinceptionjourney_info h3,
    .growthdevelopment_info h3,
    .ourstandpoint_cont h3,
    .aboutus_video h3 {
        font-size: 24px;
        line-height: 34px;
    }

    .theideasolution_info ul li .theideasolution_list h5{
        font-size: 22px;
        line-height: 32px;
    }

    .ourfounders_info h2{
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .ourfounders_info ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .careertheideasolution_info ul li .theideasolution_list h5 {
        font-size: 18px;
        line-height: 18px;
    }
}

@media (max-width: 400px) {

    .logo_info {
        width: 130px;
        margin: 1.5px 0 0 0;
    }

    .careers_btn a {
        padding: 10px 15px;
    }

    .navopen_icon {
        padding: 8px;
    }

    .nav_info {
        top: 76px;
    }

    .banner_list {
        min-height: 130px;
    }

    .banner_list .banner_txt h3 {
        font-size: 18px;
        line-height: 26px;
    }

    .lifeatninjacart_list ul li .lifeatninjacart_listcont h4 {
        font-size: 22px;
        line-height: 32px;
    }

    .puttheirfaith_info h3 {
        font-size: 20px;
    }

    .aboutbanner_info h3 {
        font-size: 18px;
        line-height: 26px;
        margin: 0 0 10px 0;
    }

    .aboutbanner_info p {
        font-size: 14px;
        line-height: 20px;
    }

    .theinceptionjourney_info h3,
    .growthdevelopment_info h3,
    .ourstandpoint_cont h3,
    .aboutus_video h3 {
        font-size: 22px;
        line-height: 32px;
    }

    .downloadstore_btn a {
        font-size: 16px;
    }

    .downloadstore_btn a span {
        padding: 0 10px;
    }

    .downloadstore_btn a em {
        padding: 10px;
    }

    .innerpagebuy_bannerinner h6 {
        font-size: 16px;
        line-height: 22px;
    }

    .gotquestions_info h3 {
        font-size: 24px;
    }

    .sitemap_list ul li {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .filterbycategory_listinner ul li {
        font-size: 14px;
    }
}

@media (max-width: 380px) {

    .logo_info {
        width: 120px;
        margin: 1px 0 0 0;
    }

    .careers_btn a {
        padding: 8px 10px;
    }

    .navopen_icon {
        margin: 0 0 0 5px;
        padding: 6px;
    }

    .nav_info {
        top: 72px;
    }

    .banner_list .banner_txt .green_btn {
        padding: 10px 15px;
    }

    .aboutninjacart_list .aboutninjacart_listinner {
        width: 260px;
    }

    .aboutninjacart_listinner .aboutninjacart_listview h6 {
        margin: 10px 0 0 0;
        font-size: 16px;
    }

    .aboutninjacart_listinner .aboutninjacart_listview.aboutninjacart_listview2 {
        right: 0;
    }

    .aboutninjacart_listinner .aboutninjacart_listview.aboutninjacart_listview3 {
        top: 75px;
    }

    .aboutninjacart_listinner .aboutninjacart_listview.aboutninjacart_listview4 {
        left: 0;
        top: 200px;
    }

    .aboutninjacart_listinner .aboutninjacart_listview.aboutninjacart_listview5 {
        top: 200px;
    }

    .growthdevelopment_list.growthdevelopment_list1,
    .growthdevelopment_list.growthdevelopment_list2,
    .growthdevelopment_list.growthdevelopment_list3,
    .growthdevelopment_list.growthdevelopment_list4,
    .growthdevelopment_list.growthdevelopment_list5 {
        width: 100%;
        padding: 20px 0;
    }

    .creatingopportunities_listinner ul{
        min-height: 160px;
    }
}
@media (max-width: 580px) {
    .new-footer-end-section
    {
        background-color: #545454;
        padding:30px 0;
        
    }
    .new-footer-end-section-img img
    {
        opacity: 0.7;
        display: block;
        margin-left: 0px;
        margin-right: auto;
        width: 80%;
        margin-top: -40px;
        
    }
    .flogo_info{
        width: 300px;
       margin-left: 1px;
    
    }
    .new-footer-end-section-inner h4
    {
     color: #b5b5b5;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10px;
    text-align: justify,left;
    margin-left: 00px;
    font-family: montserrat light;
    font-weight: bolder;
    }
    .new-footer-end-section-inner p
    {
            color: #b5b5b5;
        line-height: 22px;
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 500;
        margin-left: 3px;
        margin-right: 3px;
        text-align: justify;
        font-family: montserrat light;
       
    }
    
}
@media (min-width: 961px) {

    header .container_info,
    .banner_info .container_info,
    .trustus_direct_info .container_info,
    .aboutbanner_info .container_info,
    .growthdevelopment_info .container_info,
    .ourfounders_info .container_info,
    .careerbanner_info .container_info,
    .maurisnontempor_info .container_info,
    .privacypolicy_info .container_info {
        padding-right: 20px;
        padding-left: 20px;
    }

    .logo_info {
        margin: 2px 25px 0 0;
        float: left;
    width: 300px;
    margin: 10px 105px 0 0;
    margin-left: -150px;
    }
    .nav_info {
        float: right;
        margin-right:-160px;
        padding: 12px 0 0 0;
    }
    .ourstandpoint_info .freshproducesupply_inner .freshproducesupply_bg {
        right: -80px;
        width: 80px;
        height: 126px;
        background-size: cover;
    }

    .growthdevelopment_list.growthdevelopment_list1 {
        width: 120px;
    }

    .growthdevelopment_list.growthdevelopment_list2 {
        left: 250px;
    }

    .growthdevelopment_list.growthdevelopment_list3 {
        left: 490px;
    }

    .growthdevelopment_list.growthdevelopment_list4 {
        left: 750px;
    }

    .growthdevelopment_list.growthdevelopment_list5 {
        width: 130px;
    }

    .peopleaboutninjacart_list .peopleaboutninjacart_listview p {
        min-height: 160px;
    }

    .peopleaboutninjacart_list .slick-center .peopleaboutninjacart_listview p {
        min-height: 192px;
    }

    .ourteam_detailsviewcontinner {
        max-height: 420px;
    }

    .ourteam_detailsview .ourteam_detailsviewimg img {
        max-width: 70%;
    }

    .aboutus_section_txt .banner_txtbg {
        left: -70px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner{
        padding: 50px 70px 50px 20px;
    }

    .trustus_direct_list ul li .trustus_direct_listinner .trustus_direct_arrow{
        right: 20px;
    }
}
